body {
  background-color: #1A1A1A;
  font-family: sans-serif;
  color: #FFFFFF;
  margin: 0;
  height: 100%;
  display: flex;
  -webkit-tap-highlight-color: transparent;
  opacity: 0;
  overflow: hidden;
}

.flexcontainer {
  margin: 2rem 0rem 0rem 6rem;
  width: 100%;
  overflow: scroll;
}

.flexcontainer::-webkit-scrollbar {
  display: none;
}

#rightContainer {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-left: 1px solid white;
}

#rightContainer #payment-button-container {
  width: 100%;
  padding-top: 5%;
}

#rightContainer #paypal-button-container {
  text-align: center;
  font-size: 32px;
  float: left;
  width: 30%;
  padding-left: 13%;
}

#rightContainer #payment-button-divider {
  font-size: 31px;
  text-align: center;
  padding-left: 5%;
  padding-right: 5%;
  float: left;
}

#rightContainer #subscribe-button-container {
  text-align: center;
  font-size: 32px;
  float: left;
  width: 30%;
  padding-right: 13%;
}

#rightContainer #subscribe-button {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 55px;
  min-width: 150px;
  max-width: 750px;
  background: #00358e;
  border-radius: 28px;
}

#subscribe-button p {
  margin: 0;
  padding-top: 2%;
  font-style: oblique;
  font-weight: bold;
}

#rightContainer #return-button {
  width: 40px;
  padding: 30px;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  float: right;
}

#rightContainer #betaBanner {
  font-size: 32px;
  font-style: italic;
  opacity: 0.2;
}

#rightContainer #preview-container {
  padding: 10%;
  text-align: center;
}

#rightContainer #preview-image {
  border-radius: 35px;
  text-align: center;
  box-shadow: 0 0 20px 8px #f49c04;
}

#rightContainer #details {
  text-align: center;
  padding-top: 10%;
  font-size: 32px;
}

.flexdiv {
  display: flex;
  flex-wrap: wrap;
}

.gameApp {
   margin-right: 4rem;
   width:230px;
   
}

.gameimg .icon {
  width: 14rem;
  height:14rem;
} 

.gameimg .overlay {
  position: absolute;
  visibility: hidden;
}

.gameimg .new {
  position: absolute;
}

.gamename {
  text-align: center;
  padding: 20px;
  font-size:25px;
}

#newImage {
  height: 30%;
  width: 30%;
}

#content {
  position: relative;
}

#content img {
  position: absolute;
  top: 0px;
  right: 0px;
}

/* 10.1 => (1920px - 1200px) */
@media only screen and (min-width: 1920px) and (max-height: 1200px) {
  .flexcontainer {
    margin: 4rem 2rem 0rem 8.5rem;
  }
  .gameApp {
    margin-right:6rem;
    width:350px;
  }
  .gameimg .icon {
  width: 21rem;
  height:21rem;
  } 
  .gamename {
  text-align: center;
  padding: 33px;
  font-size: 2.8rem;
  }
}

/* 12.3 => (1920px - 720px) */
@media only screen and (min-width: 1920px) and (min-height: 720px) { 
  .ds_belowtext{
  .flexcontainer {
    margin: 4rem 2rem 0rem 8.5rem;
  }
  .gameApp {
    margin-right:6rem;
    width:350px;
  }
  .gameimg .icon {
  width: 21rem;
  height:21rem;
  } 
  .gamename {
  text-align: center;
  padding: 33px;
  font-size: 2.8rem;
  }
}
}